
.prog-list-active {
  position:relative;
  font-size: 200%;
  color: blue;
}

.prog-list-active:before {
  width: 2em;
  display: inline-block;
  text-align: center;
  font-family: FontAwesome;
  content: "\f1ce";
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.prog-list-completed {
  position:relative;
  font-size: 200%;
  color: green;
}

.prog-list-completed:before {
  width: 2em;
  display: inline-block;
  text-align: center;
  font-family: FontAwesome;
  content: "\f00c";
}

.prog-list-waiting {
  position:relative;
  font-size: 200%;
  color: black;
}

.prog-list-waiting:before {
  width: 2em;
  display: inline-block;
  text-align: center;
  font-family: FontAwesome;
  content: "\f250";
}

.prog-list-inactive {
  position:relative;
  font-size: 200%;
  color: gray;
}

.prog-list-inactive:before {
  width: 2em;
  display: inline-block;
  text-align: center;
  font-family: FontAwesome;
  content: "\f10c";
}

.prog-list-failed {
  position:relative;
  font-size: 200%;
  color: red;
}

.prog-list-failed:before {
  width: 2em;
  display: inline-block;
  text-align: center;
  font-family: FontAwesome;
  content: "\f00d";
}
